
$background-image: url(../images/tile.png);
$font-color: #404040;
$highlight-color: #FF4C00;
$lowlight-color: adjust-lightness($font-color, 30);

$base-font-size: 18px;
$base-line-height: 25px;
$default-rhythm-border-style: dotted;

$page-left-margin: 12em;

$break-width-medium: 40em;
$break-width-small: 30em;

$break-height-medium: 35em;

body {
	margin: 0;
	display: block;
	background: $background-image;
	padding: 0 $page-left-margin;
	
	@media screen and (max-width: 60em) {
		padding-right: $page-left-margin/3;
	}
	
	@media screen and (max-width: 45em) {
		padding-right: $page-left-margin/8;
	}
	
	@media screen and (max-width: $break-width-medium) {
		padding-left: $page-left-margin/3;
		padding-right: $page-left-margin/3; 
	}
	
	@media screen and (max-width: $break-width-small) {
		padding-left: $page-left-margin/8;
		padding-right: $page-left-margin/8; 
	}
	
	> header {
		margin: 5em 0 4em 0;
		
		@media screen and (max-width: $break-width-medium) {
			margin: 2em 0;
			float: left;
		}
		
/*		@media screen and (max-height: 30em) {
			margin-top: 3em;
		}
		
		@media screen and (max-height: 25em) {
			position: absolute;
			margin: 0;
			left: 1em;
			top: 1.4em;
		}*/
		
		/*@media screen and (max-width:*/ 
	}
	
}

h1 {
	font-style: italic;
	font-weight: 400;
}

p:first-child {
	margin-top: 0;
}